__pycache__/
__pycache__/*
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.pyc
.ipynb_checkpoints/
.ipynb_checkpoints/*
*.ipynb_checkpoints
*.cpython-37.pyc
Exempelkod/*
year_1_files/
year_2_files/
year_3_files/
year_4_files/
year_5_files/
year_6_files/
year_7_files/
year_8_files/
year_9_files/
no_prefix/
grupper_åk_1/
grupper_åk_2/
grupper_åk_3/
grupper_åk_4/
grupper_åk_5/
grupper_åk_6/
grupper_åk_7/
grupper_åk_8/
grupper_åk_9/
changelogs/
*.csv
*.json
*.pickle
*.exe
env.py
*.code-workspace